In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('D:\Desktop\simulacion_3\\Notebooks\data_latinoamerica.csv')

In [4]:
df = df[df['location_key'] == 'PE']

In [23]:
df.head(20)

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,population,population_male,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
0,PE,2020-07-21,PE,Peru,5313.0,601.0,384281.0,50781.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
1,PE,2020-07-22,PE,Peru,6328.0,617.0,390609.0,51398.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
2,PE,2020-07-23,PE,Peru,5871.0,623.0,396480.0,52021.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
3,PE,2020-07-24,PE,Peru,6261.0,587.0,402741.0,52608.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
4,PE,2020-07-25,PE,Peru,5875.0,616.0,408616.0,53224.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
5,PE,2020-07-26,PE,Peru,3075.0,624.0,411691.0,53848.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
6,PE,2020-07-27,PE,Peru,7389.0,662.0,419080.0,54510.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
7,PE,2020-07-28,PE,Peru,3171.0,615.0,422251.0,55125.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
8,PE,2020-07-29,PE,Peru,6919.0,588.0,429170.0,55713.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
9,PE,2020-07-30,PE,Peru,7640.0,605.0,436810.0,56318.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
10,PE,2020-07-31,PE,Peru,8084.0,636.0,444894.0,56954.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
11,PE,2020-08-01,PE,Peru,7144.0,673.0,452038.0,57627.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
12,PE,2020-08-02,PE,Peru,3389.0,578.0,455427.0,58205.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
13,PE,2020-08-03,PE,Peru,8263.0,663.0,463690.0,58868.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
14,PE,2020-08-04,PE,Peru,8176.0,657.0,471866.0,59525.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
15,PE,2020-08-05,PE,Peru,7924.0,602.0,479790.0,60127.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
16,PE,2020-08-06,PE,Peru,9104.0,632.0,488894.0,60759.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
17,PE,2020-08-07,PE,Peru,7984.0,667.0,496878.0,61426.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
18,PE,2020-08-08,PE,Peru,7187.0,653.0,504065.0,62079.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
19,PE,2020-08-09,PE,Peru,3747.0,586.0,507812.0,62665.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6

In [2]:
import matplotlib.pyplot as plt # type: ignore
import seaborn as sns # type: ignore
# Filtrar los datos para los primeros tres meses a partir del 3 de marzo de 2020
start_date = '2020-03-03'
end_date = '2020-03-15'
mask = (df['date'] >= start_date) & (df['date'] <= end_date)
filtered_df = df.loc[mask]

# Crear el gráfico de series temporales
plt.figure(figsize=(14, 7))
sns.lineplot(data=filtered_df, x='date', y='cumulative_confirmed', label='Cumulative Confirmed')
sns.lineplot(data=filtered_df, x='date', y='cumulative_deceased', label='Cumulative Deceased')
plt.title('Time Series of Cumulative Confirmed and Deceased Cases (First 3 Months from 2020-03-03)')
plt.xlabel('Date')
plt.ylabel('Count')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.show()

NameError: name 'df' is not defined

In [5]:
# Identificar las columnas que contienen valores 0
columns_with_zeros = df.columns[(df == 0).any()]

# Mostrar las columnas y las filas con valores 0
for column in columns_with_zeros:
    zero_rows = df[df[column] == 0]
    print(f"Column '{column}' has zero values in the following rows:")
    print(zero_rows)

# Alternativamente, para ver solo las columnas que tienen valores 0
print("Columns with zero values:", columns_with_zeros.tolist())

Column 'new_confirmed' has zero values in the following rows:
         location_key        date country_code country_name  new_confirmed  \
10252886           PE  2020-01-01           PE         Peru            0.0
10252887           PE  2020-01-02           PE         Peru            0.0
10252888           PE  2020-01-03           PE         Peru            0.0
10252889           PE  2020-01-04           PE         Peru            0.0
10252890           PE  2020-01-05           PE         Peru            0.0
...               ...         ...          ...          ...            ...
10253196           PE  2020-11-06           PE         Peru            0.0
10253226           PE  2020-12-06           PE         Peru            0.0
10253742           PE  2022-05-06           PE         Peru            0.0
10253768           PE  2022-06-01           PE         Peru            0.0
10253866           PE  2022-09-07           PE         Peru            0.0

          new_deceased  cumulative_confirmed  cumulative_deceased  \
10252886           0.0                   0.0                  0.0
10252887           0.0                   0.0                  0.0
10252888           0.0                   0.0                  0.0
10252889           0.0                   0.0                  0.0
10252890           0.0                   0.0                  0.0
...                ...                   ...                  ...
10253196         111.0              936244.0              87735.0
10253226         106.0              982531.0              90796.0
10253742           0.0             3569026.0             212913.0
10253768           0.0             3581524.0             213205.0
10253866           0.0             4118792.0             215982.0

          cumulative_vaccine_doses_administered  population  ...  \
10252886                                    NaN  29381884.0  ...
10252887                                    NaN  29381884.0  ...
10252888                                    NaN  29381884.0  ...
10252889                                    NaN  29381884.0  ...
10252890                                    NaN  29381884.0  ...
...                                         ...         ...  ...
10253196                                    NaN  29381884.0  ...
10253226                                    NaN  29381884.0  ...
10253742                             73338010.0  29381884.0  ...
10253768                             75715949.0  29381884.0  ...
10253866                             83525776.0  29381884.0  ...

          population_largest_city  area_rural_sq_km  area_urban_sq_km  \
10252886               10554712.0         1256339.0           16425.0
10252887               10554712.0         1256339.0           16425.0
10252888               10554712.0         1256339.0           16425.0
10252889               10554712.0         1256339.0           16425.0
10252890               10554712.0         1256339.0           16425.0
...                           ...               ...               ...
10253196               10554712.0         1256339.0           16425.0
10253226               10554712.0         1256339.0           16425.0
10253742               10554712.0         1256339.0           16425.0
10253768               10554712.0         1256339.0           16425.0
10253866               10554712.0         1256339.0           16425.0

          life_expectancy  adult_male_mortality_rate  \
10252886           76.516                     146.37
10252887           76.516                     146.37
10252888           76.516                     146.37
10252889           76.516                     146.37
10252890           76.516                     146.37
...                   ...                        ...
10253196           76.516                     146.37
10253226           76.516                     146.37
10253742           76.516                     146.37
10253768           76.516                     146.37
10253866           76.516                     146.37

          adult_female_mortality_rate  pollution_mortality_rate  \
10252886                       84.815                      63.9
10252887                       84.815                      63.9
10252888                       84.815                      63.9
10252889                       84.815                      63.9
10252890                       84.815                      63.9
...                               ...                       ...
10253196                       84.815                      63.9
10253226                       84.815                      63.9
10253742                       84.815                      63.9
10253768                       84.815                      63.9
10253866                       84.815                      63.9

          comorbidity_mortality_rate  new_recovered  cumulative_recovered
10252886                        12.6            NaN                   NaN
10252887                        12.6            NaN                   NaN
10252888                        12.6            NaN                   NaN
10252889                        12.6            NaN                   NaN
10252890                        12.6            NaN                   NaN
...                              ...            ...                   ...
10253196                        12.6            NaN                   NaN
10253226                        12.6            NaN                   NaN
10253742                        12.6            NaN                   NaN
10253768                        12.6            NaN                   NaN
10253866                        12.6            NaN                   NaN

[69 rows x 50 columns]
Column 'new_deceased' has zero values in the following rows:
         location_key        date country_code country_name  new_confirmed  \
10252886           PE  2020-01-01           PE         Peru            0.0
10252887           PE  2020-01-02           PE         Peru            0.0
10252888           PE  2020-01-03           PE         Peru            0.0
10252889           PE  2020-01-04           PE         Peru            0.0
10252890           PE  2020-01-05           PE         Peru            0.0
...               ...         ...          ...          ...            ...
10252958           PE  2020-03-13           PE         Peru           10.0
10252960           PE  2020-03-15           PE         Peru           28.0
10253742           PE  2022-05-06           PE         Peru            0.0
10253768           PE  2022-06-01           PE         Peru            0.0
10253866           PE  2022-09-07           PE         Peru            0.0

          new_deceased  cumulative_confirmed  cumulative_deceased  \
10252886           0.0                   0.0                  0.0
10252887           0.0                   0.0                  0.0
10252888           0.0                   0.0                  0.0
10252889           0.0                   0.0                  0.0
10252890           0.0                   0.0                  0.0
...                ...                   ...                  ...
10252958           0.0                  38.0                  4.0
10252960           0.0                  85.0                  6.0
10253742           0.0             3569026.0             212913.0
10253768           0.0             3581524.0             213205.0
10253866           0.0             4118792.0             215982.0

          cumulative_vaccine_doses_administered  population  ...  \
10252886                                    NaN  29381884.0  ...
10252887                                    NaN  29381884.0  ...
10252888                                    NaN  29381884.0  ...
10252889                                    NaN  29381884.0  ...
10252890                                    NaN  29381884.0  ...
...                                         ...         ...  ...
10252958                                    NaN  29381884.0  ...
10252960                                    NaN  29381884.0  ...
10253742                             73338010.0  29381884.0  ...
10253768                             75715949.0  29381884.0  ...
10253866                             83525776.0  29381884.0  ...

          population_largest_city  area_rural_sq_km  area_urban_sq_km  \
10252886               10554712.0         1256339.0           16425.0
10252887               10554712.0         1256339.0           16425.0
10252888               10554712.0         1256339.0           16425.0
10252889               10554712.0         1256339.0           16425.0
10252890               10554712.0         1256339.0           16425.0
...                           ...               ...               ...
10252958               10554712.0         1256339.0           16425.0
10252960               10554712.0         1256339.0           16425.0
10253742               10554712.0         1256339.0           16425.0
10253768               10554712.0         1256339.0           16425.0
10253866               10554712.0         1256339.0           16425.0

          life_expectancy  adult_male_mortality_rate  \
10252886           76.516                     146.37
10252887           76.516                     146.37
10252888           76.516                     146.37
10252889           76.516                     146.37
10252890           76.516                     146.37
...                   ...                        ...
10252958           76.516                     146.37
10252960           76.516                     146.37
10253742           76.516                     146.37
10253768           76.516                     146.37
10253866           76.516                     146.37

          adult_female_mortality_rate  pollution_mortality_rate  \
10252886                       84.815                      63.9
10252887                       84.815                      63.9
10252888                       84.815                      63.9
10252889                       84.815                      63.9
10252890                       84.815                      63.9
...                               ...                       ...
10252958                       84.815                      63.9
10252960                       84.815                      63.9
10253742                       84.815                      63.9
10253768                       84.815                      63.9
10253866                       84.815                      63.9

          comorbidity_mortality_rate  new_recovered  cumulative_recovered
10252886                        12.6            NaN                   NaN
10252887                        12.6            NaN                   NaN
10252888                        12.6            NaN                   NaN
10252889                        12.6            NaN                   NaN
10252890                        12.6            NaN                   NaN
...                              ...            ...                   ...
10252958                        12.6            NaN                   NaN
10252960                        12.6            NaN                   NaN
10253742                        12.6            NaN                   NaN
10253768                        12.6            NaN                   NaN
10253866                        12.6            NaN                   NaN

[73 rows x 50 columns]
Column 'cumulative_confirmed' has zero values in the following rows:
         location_key        date country_code country_name  new_confirmed  \
10252886           PE  2020-01-01           PE         Peru            0.0
10252887           PE  2020-01-02           PE         Peru            0.0
10252888           PE  2020-01-03           PE         Peru            0.0
10252889           PE  2020-01-04           PE         Peru            0.0
10252890           PE  2020-01-05           PE         Peru            0.0
...               ...         ...          ...          ...            ...
10252945           PE  2020-02-29           PE         Peru            0.0
10252946           PE  2020-03-01           PE         Peru            0.0
10252947           PE  2020-03-02           PE         Peru            0.0
10252948           PE  2020-03-03           PE         Peru            0.0
10252949           PE  2020-03-04           PE         Peru            0.0

          new_deceased  cumulative_confirmed  cumulative_deceased  \
10252886           0.0                   0.0                  0.0
10252887           0.0                   0.0                  0.0
10252888           0.0                   0.0                  0.0
10252889           0.0                   0.0                  0.0
10252890           0.0                   0.0                  0.0
...                ...                   ...                  ...
10252945           0.0                   0.0                  0.0
10252946           0.0                   0.0                  0.0
10252947           0.0                   0.0                  0.0
10252948           1.0                   0.0                  1.0
10252949           1.0                   0.0                  2.0

          cumulative_vaccine_doses_administered  population  ...  \
10252886                                    NaN  29381884.0  ...
10252887                                    NaN  29381884.0  ...
10252888                                    NaN  29381884.0  ...
10252889                                    NaN  29381884.0  ...
10252890                                    NaN  29381884.0  ...
...                                         ...         ...  ...
10252945                                    NaN  29381884.0  ...
10252946                                    NaN  29381884.0  ...
10252947                                    NaN  29381884.0  ...
10252948                                    NaN  29381884.0  ...
10252949                                    NaN  29381884.0  ...

          population_largest_city  area_rural_sq_km  area_urban_sq_km  \
10252886               10554712.0         1256339.0           16425.0
10252887               10554712.0         1256339.0           16425.0
10252888               10554712.0         1256339.0           16425.0
10252889               10554712.0         1256339.0           16425.0
10252890               10554712.0         1256339.0           16425.0
...                           ...               ...               ...
10252945               10554712.0         1256339.0           16425.0
10252946               10554712.0         1256339.0           16425.0
10252947               10554712.0         1256339.0           16425.0
10252948               10554712.0         1256339.0           16425.0
10252949               10554712.0         1256339.0           16425.0

          life_expectancy  adult_male_mortality_rate  \
10252886           76.516                     146.37
10252887           76.516                     146.37
10252888           76.516                     146.37
10252889           76.516                     146.37
10252890           76.516                     146.37
...                   ...                        ...
10252945           76.516                     146.37
10252946           76.516                     146.37
10252947           76.516                     146.37
10252948           76.516                     146.37
10252949           76.516                     146.37

          adult_female_mortality_rate  pollution_mortality_rate  \
10252886                       84.815                      63.9
10252887                       84.815                      63.9
10252888                       84.815                      63.9
10252889                       84.815                      63.9
10252890                       84.815                      63.9
...                               ...                       ...
10252945                       84.815                      63.9
10252946                       84.815                      63.9
10252947                       84.815                      63.9
10252948                       84.815                      63.9
10252949                       84.815                      63.9

          comorbidity_mortality_rate  new_recovered  cumulative_recovered
10252886                        12.6            NaN                   NaN
10252887                        12.6            NaN                   NaN
10252888                        12.6            NaN                   NaN
10252889                        12.6            NaN                   NaN
10252890                        12.6            NaN                   NaN
...                              ...            ...                   ...
10252945                        12.6            NaN                   NaN
10252946                        12.6            NaN                   NaN
10252947                        12.6            NaN                   NaN
10252948                        12.6            NaN                   NaN
10252949                        12.6            NaN                   NaN

[64 rows x 50 columns]
Column 'cumulative_deceased' has zero values in the following rows:
         location_key        date country_code country_name  new_confirmed  \
10252886           PE  2020-01-01           PE         Peru            0.0
10252887           PE  2020-01-02           PE         Peru            0.0
10252888           PE  2020-01-03           PE         Peru            0.0
10252889           PE  2020-01-04           PE         Peru            0.0
10252890           PE  2020-01-05           PE         Peru            0.0
...               ...         ...          ...          ...            ...
10252943           PE  2020-02-27           PE         Peru            0.0
10252944           PE  2020-02-28           PE         Peru            0.0
10252945           PE  2020-02-29           PE         Peru            0.0
10252946           PE  2020-03-01           PE         Peru            0.0
10252947           PE  2020-03-02           PE         Peru            0.0

          new_deceased  cumulative_confirmed  cumulative_deceased  \
10252886           0.0                   0.0                  0.0
10252887           0.0                   0.0                  0.0
10252888           0.0                   0.0                  0.0
10252889           0.0                   0.0                  0.0
10252890           0.0                   0.0                  0.0
...                ...                   ...                  ...
10252943           0.0                   0.0                  0.0
10252944           0.0                   0.0                  0.0
10252945           0.0                   0.0                  0.0
10252946           0.0                   0.0                  0.0
10252947           0.0                   0.0                  0.0

          cumulative_vaccine_doses_administered  population  ...  \
10252886                                    NaN  29381884.0  ...
10252887                                    NaN  29381884.0  ...
10252888                                    NaN  29381884.0  ...
10252889                                    NaN  29381884.0  ...
10252890                                    NaN  29381884.0  ...
...                                         ...         ...  ...
10252943                                    NaN  29381884.0  ...
10252944                                    NaN  29381884.0  ...
10252945                                    NaN  29381884.0  ...
10252946                                    NaN  29381884.0  ...
10252947                                    NaN  29381884.0  ...

          population_largest_city  area_rural_sq_km  area_urban_sq_km  \
10252886               10554712.0         1256339.0           16425.0
10252887               10554712.0         1256339.0           16425.0
10252888               10554712.0         1256339.0           16425.0

### Contar cuantos valores Nulos tiene cada columna

In [6]:
# Contar cuántas filas contienen valores nulos en cada columna
null_counts = df.isnull().sum()

# Filtrar solo las columnas que tienen valores nulos
columns_with_nulls = null_counts[null_counts > 0]

# Mostrar el recuento de filas con valores nulos por columna
print("Columns with null values and their counts:")
print(columns_with_nulls)

Columns with null values and their counts:
new_confirmed                              4
new_deceased                               4
cumulative_confirmed                       4
cumulative_deceased                        4
cumulative_vaccine_doses_administered    410
average_temperature_celsius                9
minimum_temperature_celsius                9
maximum_temperature_celsius                9
rainfall_mm                               14
relative_humidity                          9
new_recovered                            991
cumulative_recovered                     991
dtype: int64

### Contar cuantos 0 tiene cada columna

In [7]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 69 rows with zero values.
Column 'new_deceased' has 73 rows with zero values.
Column 'cumulative_confirmed' has 64 rows with zero values.
Column 'cumulative_deceased' has 62 rows with zero values.
Column 'rainfall_mm' has 593 rows with zero values.

Counts of zero values per column: {'new_confirmed': 69, 'new_deceased': 73, 'cumulative_confirmed': 64, 'cumulative_deceased': 62, 'rainfall_mm': 593}

# Transformacion de DF

#### Realizo un filtrado debido que anterior y posterior a estas fechas hay valores nulos y/o datos errones

In [8]:
# Definir el rango de fechas
start_date = '2020-03-03'
end_date = '2022-08-31'

# Filtrar el DataFrame para mantener las filas dentro del rango de fechas
df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

#### Elimino estas columnas por: 
#### las 2 primeras columnas tienen valores errones
#### la 3ra columna tiene muchos valores en 0
#### la 4 y 5ta columna tienen puros valores nulos
#### la 6 y 7ma columna no concuerdan con el de poblacion 
#### Prefiero trabajar con el promedio de la temperatura del dia

In [9]:
columns_to_drop = [
    'cumulative_confirmed', 
    'cumulative_deceased', 
    'rainfall_mm', 
    'new_recovered',
    'cumulative_recovered',
    'population_rural',
    'population_urban', 
    'minimum_temperature_celsius', 
    'maximum_temperature_celsius'
]

# Eliminar las columnas
df.drop(columns=columns_to_drop, inplace=True)

In [56]:
df.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,population,population_male,population_female,population_age_00_09,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
0,PE,2020-07-21,PE,Peru,5313.0,601.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
1,PE,2020-07-22,PE,Peru,6328.0,617.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
2,PE,2020-07-23,PE,Peru,5871.0,623.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
3,PE,2020-07-24,PE,Peru,6261.0,587.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
4,PE,2020-07-25,PE,Peru,5875.0,616.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6

In [10]:
# Contar cuántas filas contienen valores nulos en cada columna
null_counts = df.isnull().sum()

# Filtrar solo las columnas que tienen valores nulos
columns_with_nulls = null_counts[null_counts > 0]

# Mostrar el recuento de filas con valores nulos por columna
print("Columns with null values and their counts:")
print(columns_with_nulls)

Columns with null values and their counts:
cumulative_vaccine_doses_administered    343
average_temperature_celsius                5
relative_humidity                          5
dtype: int64

In [58]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 6 rows with zero values.
Column 'new_deceased' has 10 rows with zero values.

Counts of zero values per column: {'new_confirmed': 6, 'new_deceased': 10}

#### Vamos a imputar las columnas que tienen valores nulos y ceros

In [11]:
# Imputación con la media para columnas específicas
df['average_temperature_celsius'] = df['average_temperature_celsius'].fillna(df['average_temperature_celsius'].mean())
df['relative_humidity'] = df['relative_humidity'].fillna(df['relative_humidity'].mean())

In [12]:
# Calcular la mediana de la columna 'new_confirmed' y 'new_deceased'
median_new_confirmed = df['new_confirmed'].median()
median_new_deceased = df['new_deceased'].median()

# Fechas específicas para imputar
dates_to_impute = ['2022-05-06', '2022-06-01']

# Reemplazar valores cero por la mediana en las fechas específicas
for date in dates_to_impute:
    df.loc[(df['date'] == date) & (df['new_confirmed'] == 0), 'new_confirmed'] = median_new_confirmed
    df.loc[(df['date'] == date) & (df['new_deceased'] == 0), 'new_deceased'] = median_new_deceased

In [13]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 4 rows with zero values.
Column 'new_deceased' has 8 rows with zero values.

Counts of zero values per column: {'new_confirmed': 4, 'new_deceased': 8}

In [14]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe()

,new_confirmed,new_deceased,cumulative_vaccine_doses_administered,population,population_male,population_female,population_density,human_development_index,population_age_00_09,population_age_10_19,...,average_temperature_celsius,relative_humidity,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
count,912.00,912.00,569.00,912.00,912.00,912.00,912.00,912.00,912.00,912.00,...,912.00,912.00,912.00,912.00,912.00,912.00,912.00,912.00,912.00,912.00
mean,4522.44,237.10,39972738.64,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,25.16,70.84,10554712.00,1256339.00,16425.00,76.52,146.37,84.82,63.90,12.60
std,6815.61,251.18,29863608.94,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.14,8.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
min,0.00,0.00,3762.00,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,17.44,41.59,10554712.00,1256339.00,16425.00,76.52,146.37,84.81,63.90,12.60
25%,1020.00,35.00,7991709.00,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,23.62,65.55,10554712.00,1256339.00,16425.00,76.52,146.37,84.81,63.90,12.60
50%,2456.50,113.00,40148315.00,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,25.00,71.21,10554712.00,1256339.00,16425.00,76.52,146.37,84.81,63.90,12.60
75%,5892.50,479.75,70208545.00,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,26.61,76.50,10554712.00,1256339.00,16425.00,76.52,146.37,84.81,63.90,12.60
max,58128.00,847.00,83274069.00,29381884.00,14450757.00,14931127.00,25.76,0.75,5140624.00,5035905.00,...,32.00,94.82,10554712.00,1256339.00,16425.00,76.52,146.37,84.81,63.90,12.60

In [15]:
df['cumulative_vaccine_doses_administered'].fillna(0, inplace=True)

C:\Users\Kuma\AppData\Local\Temp\ipykernel_23728\628870301.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cumulative_vaccine_doses_administered'].fillna(0, inplace=True)

In [16]:
df.isna().sum()

location_key                             0
date                                     0
country_code                             0
country_name                             0
new_confirmed                            0
new_deceased                             0
cumulative_vaccine_doses_administered    0
population                               0
population_male                          0
population_female                        0
population_density                       0
human_development_index                  0
population_age_00_09                     0
population_age_10_19                     0
population_age_20_29                     0
population_age_30_39                     0
population_age_40_49                     0
population_age_50_59                     0
population_age_60_69                     0
population_age_70_79                     0
population_age_80_and_older              0
gdp_usd                                  0
gdp_per_capita_usd                       0
latitude                                 0
longitude                                0
area_sq_km                               0
smoking_prevalence                       0
diabetes_prevalence                      0
infant_mortality_rate                    0
nurses_per_1000                          0
physicians_per_1000                      0
average_temperature_celsius              0
relative_humidity                        0
population_largest_city                  0
area_rural_sq_km                         0
area_urban_sq_km                         0
life_expectancy                          0
adult_male_mortality_rate                0
adult_female_mortality_rate              0
pollution_mortality_rate                 0
comorbidity_mortality_rate               0
dtype: int64

In [17]:
df.to_csv('data\processed\covid19_Peru.csv', index=False)