In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Peru_resumen.csv')

In [23]:
df.head(20)

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,population,population_male,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
0,PE,2020-07-21,PE,Peru,5313.0,601.0,384281.0,50781.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
1,PE,2020-07-22,PE,Peru,6328.0,617.0,390609.0,51398.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
2,PE,2020-07-23,PE,Peru,5871.0,623.0,396480.0,52021.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
3,PE,2020-07-24,PE,Peru,6261.0,587.0,402741.0,52608.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
4,PE,2020-07-25,PE,Peru,5875.0,616.0,408616.0,53224.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
5,PE,2020-07-26,PE,Peru,3075.0,624.0,411691.0,53848.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
6,PE,2020-07-27,PE,Peru,7389.0,662.0,419080.0,54510.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
7,PE,2020-07-28,PE,Peru,3171.0,615.0,422251.0,55125.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
8,PE,2020-07-29,PE,Peru,6919.0,588.0,429170.0,55713.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
9,PE,2020-07-30,PE,Peru,7640.0,605.0,436810.0,56318.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
10,PE,2020-07-31,PE,Peru,8084.0,636.0,444894.0,56954.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
11,PE,2020-08-01,PE,Peru,7144.0,673.0,452038.0,57627.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
12,PE,2020-08-02,PE,Peru,3389.0,578.0,455427.0,58205.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
13,PE,2020-08-03,PE,Peru,8263.0,663.0,463690.0,58868.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
14,PE,2020-08-04,PE,Peru,8176.0,657.0,471866.0,59525.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
15,PE,2020-08-05,PE,Peru,7924.0,602.0,479790.0,60127.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
16,PE,2020-08-06,PE,Peru,9104.0,632.0,488894.0,60759.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
17,PE,2020-08-07,PE,Peru,7984.0,667.0,496878.0,61426.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
18,PE,2020-08-08,PE,Peru,7187.0,653.0,504065.0,62079.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
19,PE,2020-08-09,PE,Peru,3747.0,586.0,507812.0,62665.0,29381884,14450757,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6

In [2]:
import matplotlib.pyplot as plt # type: ignore
import seaborn as sns # type: ignore
# Filtrar los datos para los primeros tres meses a partir del 3 de marzo de 2020
start_date = '2020-03-03'
end_date = '2020-03-15'
mask = (df['date'] >= start_date) & (df['date'] <= end_date)
filtered_df = df.loc[mask]

# Crear el gráfico de series temporales
plt.figure(figsize=(14, 7))
sns.lineplot(data=filtered_df, x='date', y='cumulative_confirmed', label='Cumulative Confirmed')
sns.lineplot(data=filtered_df, x='date', y='cumulative_deceased', label='Cumulative Deceased')
plt.title('Time Series of Cumulative Confirmed and Deceased Cases (First 3 Months from 2020-03-03)')
plt.xlabel('Date')
plt.ylabel('Count')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.show()

NameError: name 'df' is not defined

In [18]:
# Identificar las columnas que contienen valores 0
columns_with_zeros = df.columns[(df == 0).any()]

# Mostrar las columnas y las filas con valores 0
for column in columns_with_zeros:
    zero_rows = df[df[column] == 0]
    print(f"Column '{column}' has zero values in the following rows:")
    print(zero_rows)

# Alternativamente, para ver solo las columnas que tienen valores 0
print("Columns with zero values:", columns_with_zeros.tolist())

Column 'new_confirmed' has zero values in the following rows:
    location_key        date country_code country_name  new_confirmed  \
108           PE  2020-11-06           PE         Peru            0.0
138           PE  2020-12-06           PE         Peru            0.0
654           PE  2022-05-06           PE         Peru            0.0
680           PE  2022-06-01           PE         Peru            0.0
778           PE  2022-09-07           PE         Peru            0.0
..           ...         ...          ...          ...            ...
848           PE  2020-02-29           PE         Peru            0.0
849           PE  2020-03-01           PE         Peru            0.0
850           PE  2020-03-02           PE         Peru            0.0
851           PE  2020-03-03           PE         Peru            0.0
852           PE  2020-03-04           PE         Peru            0.0

     new_deceased  cumulative_confirmed  cumulative_deceased  population  \
108         111.0              936244.0              87735.0    29381884
138         106.0              982531.0              90796.0    29381884
654           0.0             3569026.0             212913.0    29381884
680           0.0             3581524.0             213205.0    29381884
778           0.0             4118792.0             215982.0    29381884
..            ...                   ...                  ...         ...
848           0.0                   0.0                  0.0    29381884
849           0.0                   0.0                  0.0    29381884
850           0.0                   0.0                  0.0    29381884
851           1.0                   0.0                  1.0    29381884
852           1.0                   0.0                  2.0    29381884

     population_male  ...  nurses_per_1000  physicians_per_1000  \
108         14450757  ...           2.4398               1.3048
138         14450757  ...           2.4398               1.3048
654         14450757  ...           2.4398               1.3048
680         14450757  ...           2.4398               1.3048
778         14450757  ...           2.4398               1.3048
..               ...  ...              ...                  ...
848         14450757  ...           2.4398               1.3048
849         14450757  ...           2.4398               1.3048
850         14450757  ...           2.4398               1.3048
851         14450757  ...           2.4398               1.3048
852         14450757  ...           2.4398               1.3048

     population_largest_city  area_rural_sq_km  area_urban_sq_km  \
108               10554712.0         1256339.0           16425.0
138               10554712.0         1256339.0           16425.0
654               10554712.0         1256339.0           16425.0
680               10554712.0         1256339.0           16425.0
778               10554712.0         1256339.0           16425.0
..                       ...               ...               ...
848               10554712.0         1256339.0           16425.0
849               10554712.0         1256339.0           16425.0
850               10554712.0         1256339.0           16425.0
851               10554712.0         1256339.0           16425.0
852               10554712.0         1256339.0           16425.0

     life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
108           76.516                     146.37                       84.815
138           76.516                     146.37                       84.815
654           76.516                     146.37                       84.815
680           76.516                     146.37                       84.815
778           76.516                     146.37                       84.815
..               ...                        ...                          ...
848           76.516                     146.37                       84.815
849           76.516                     146.37                       84.815
850           76.516                     146.37                       84.815
851           76.516                     146.37                       84.815
852           76.516                     146.37                       84.815

     pollution_mortality_rate  comorbidity_mortality_rate
108                      63.9                        12.6
138                      63.9                        12.6
654                      63.9                        12.6
680                      63.9                        12.6
778                      63.9                        12.6
..                        ...                         ...
848                      63.9                        12.6
849                      63.9                        12.6
850                      63.9                        12.6
851                      63.9                        12.6
852                      63.9                        12.6

[69 rows x 50 columns]
Column 'new_deceased' has zero values in the following rows:
    location_key        date country_code country_name  new_confirmed  \
654           PE  2022-05-06           PE         Peru            0.0
680           PE  2022-06-01           PE         Peru            0.0
778           PE  2022-09-07           PE         Peru            0.0
789           PE  2020-01-01           PE         Peru            0.0
790           PE  2020-01-02           PE         Peru            0.0
..           ...         ...          ...          ...            ...
857           PE  2020-03-09           PE         Peru            3.0
858           PE  2020-03-10           PE         Peru            1.0
860           PE  2020-03-12           PE         Peru            8.0
861           PE  2020-03-13           PE         Peru           10.0
863           PE  2020-03-15           PE         Peru           28.0

     new_deceased  cumulative_confirmed  cumulative_deceased  population  \
654           0.0             3569026.0             212913.0    29381884
680           0.0             3581524.0             213205.0    29381884
778           0.0             4118792.0             215982.0    29381884
789           0.0                   0.0                  0.0    29381884
790           0.0                   0.0                  0.0    29381884
..            ...                   ...                  ...         ...
857           0.0                  11.0                  3.0    29381884
858           0.0                  12.0                  3.0    29381884
860           0.0                  28.0                  4.0    29381884
861           0.0                  38.0                  4.0    29381884
863           0.0                  85.0                  6.0    29381884

     population_male  ...  nurses_per_1000  physicians_per_1000  \
654         14450757  ...           2.4398               1.3048
680         14450757  ...           2.4398               1.3048
778         14450757  ...           2.4398               1.3048
789         14450757  ...           2.4398               1.3048
790         14450757  ...           2.4398               1.3048
..               ...  ...              ...                  ...
857         14450757  ...           2.4398               1.3048
858         14450757  ...           2.4398               1.3048
860         14450757  ...           2.4398               1.3048
861         14450757  ...           2.4398               1.3048
863         14450757  ...           2.4398               1.3048

     population_largest_city  area_rural_sq_km  area_urban_sq_km  \
654               10554712.0         1256339.0           16425.0
680               10554712.0         1256339.0           16425.0
778               10554712.0         1256339.0           16425.0
789               10554712.0         1256339.0           16425.0
790               10554712.0         1256339.0           16425.0
..                       ...               ...               ...
857               10554712.0         1256339.0           16425.0
858               10554712.0         1256339.0           16425.0
860               10554712.0         1256339.0           16425.0
861               10554712.0         1256339.0           16425.0
863               10554712.0         1256339.0           16425.0

     life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
654           76.516                     146.37                       84.815
680           76.516                     146.37                       84.815
778           76.516                     146.37                       84.815
789           76.516                     146.37                       84.815
790           76.516                     146.37                       84.815
..               ...                        ...                          ...
857           76.516                     146.37                       84.815
858           76.516                     146.37                       84.815
860           76.516                     146.37                       84.815
861           76.516                     146.37                       84.815
863           76.516                     146.37                       84.815

     pollution_mortality_rate  comorbidity_mortality_rate
654                      63.9                        12.6
680                      63.9                        12.6
778                      63.9                        12.6
789                      63.9                        12.6
790                      63.9                        12.6
..                        ...                         ...
857                      63.9                        12.6
858                      63.9                        12.6
860                      63.9                        12.6
861                      63.9                        12.6
863                      63.9                        12.6

[73 rows x 50 columns]
Column 'cumulative_confirmed' has zero values in the following rows:
    location_key        date country_code country_name  new_confirmed  \
789           PE  2020-01-01           PE         Peru            0.0
790           PE  2020-01-02           PE         Peru            0.0
791           PE  2020-01-03           PE         Peru            0.0
792           PE  2020-01-04           PE         Peru            0.0
793           PE  2020-01-05           PE         Peru            0.0
..           ...         ...          ...          ...            ...
848           PE  2020-02-29           PE         Peru            0.0
849           PE  2020-03-01           PE         Peru            0.0
850           PE  2020-03-02           PE         Peru            0.0
851           PE  2020-03-03           PE         Peru            0.0
852           PE  2020-03-04           PE         Peru            0.0

     new_deceased  cumulative_confirmed  cumulative_deceased  population  \
789           0.0                   0.0                  0.0    29381884
790           0.0                   0.0                  0.0    29381884
791           0.0                   0.0                  0.0    29381884
792           0.0                   0.0                  0.0    29381884
793           0.0                   0.0                  0.0    29381884
..            ...                   ...                  ...         ...
848           0.0                   0.0                  0.0    29381884
849           0.0                   0.0                  0.0    29381884
850           0.0                   0.0                  0.0    29381884
851           1.0                   0.0                  1.0    29381884
852           1.0                   0.0                  2.0    29381884

     population_male  ...  nurses_per_1000  physicians_per_1000  \
789         14450757  ...           2.4398               1.3048
790         14450757  ...           2.4398               1.3048
791         14450757  ...           2.4398               1.3048
792         14450757  ...           2.4398               1.3048
793         14450757  ...           2.4398               1.3048
..               ...  ...              ...                  ...
848         14450757  ...           2.4398               1.3048
849         14450757  ...           2.4398               1.3048
850         14450757  ...           2.4398               1.3048
851         14450757  ...           2.4398               1.3048
852         14450757  ...           2.4398               1.3048

     population_largest_city  area_rural_sq_km  area_urban_sq_km  \
789               10554712.0         1256339.0           16425.0
790               10554712.0         1256339.0           16425.0
791               10554712.0         1256339.0           16425.0
792               10554712.0         1256339.0           16425.0
793               10554712.0         1256339.0           16425.0
..                       ...               ...               ...
848               10554712.0         1256339.0           16425.0
849               10554712.0         1256339.0           16425.0
850               10554712.0         1256339.0           16425.0
851               10554712.0         1256339.0           16425.0
852               10554712.0         1256339.0           16425.0

     life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
789           76.516                     146.37                       84.815
790           76.516                     146.37                       84.815
791           76.516                     146.37                       84.815
792           76.516                     146.37                       84.815
793           76.516                     146.37                       84.815
..               ...                        ...                          ...
848           76.516                     146.37                       84.815
849           76.516                     146.37                       84.815
850           76.516                     146.37                       84.815
851           76.516                     146.37                       84.815
852           76.516                     146.37                       84.815

     pollution_mortality_rate  comorbidity_mortality_rate
789                      63.9                        12.6
790                      63.9                        12.6
791                      63.9                        12.6
792                      63.9                        12.6
793                      63.9                        12.6
..                        ...                         ...
848                      63.9                        12.6
849                      63.9                        12.6
850                      63.9                        12.6
851                      63.9                        12.6
852                      63.9                        12.6

[64 rows x 50 columns]
Column 'cumulative_deceased' has zero values in the following rows:
    location_key        date country_code country_name  new_confirmed  \
789           PE  2020-01-01           PE         Peru            0.0
790           PE  2020-01-02           PE         Peru            0.0
791           PE  2020-01-03           PE         Peru            0.0
792           PE  2020-01-04           PE         Peru            0.0
793           PE  2020-01-05           PE         Peru            0.0
..           ...         ...          ...          ...            ...
846           PE  2020-02-27           PE         Peru            0.0
847           PE  2020-02-28           PE         Peru            0.0
848           PE  2020-02-29           PE         Peru            0.0
849           PE  2020-03-01           PE         Peru            0.0
850           PE  2020-03-02           PE         Peru            0.0

     new_deceased  cumulative_confirmed  cumulative_deceased  population  \
789           0.0                   0.0                  0.0    29381884
790           0.0                   0.0                  0.0    29381884
791           0.0                   0.0                  0.0    29381884
792           0.0                   0.0                  0.0    29381884
793           0.0                   0.0                  0.0    29381884
..            ...                   ...                  ...         ...
846           0.0                   0.0                  0.0    29381884
847           0.0                   0.0                  0.0    29381884
848           0.0                   0.0                  0.0    29381884
849           0.0                   0.0                  0.0    29381884
850           0.0                   0.0                  0.0    29381884

     population_male  ...  nurses_per_1000  physicians_per_1000  \
789         14450757  ...           2.4398               1.3048
790         14450757  ...           2.4398               1.3048
791         14450757  ...           2.4398               1.3048
792         14450757  ...           2.4398               1.3048
793         14450757  ...           2.4398               1.3048
..               ...  ...              ...                  ...
846         14450757  ...           2.4398               1.3048
847         14450757  ...           2.4398               1.3048
848         14450757  ...           2.4398               1.3048
849         14450757  ...           2.4398               1.3048
850         14450757  ...           2.4398               1.3048

     population_largest_city  area_rural_sq_km  area_urban_sq_km  \
789               10554712.0         1256339.0           16425.0
790               10554712.0         1256339.0           16425.0
791               10554712.0         1256339.0           16425.0
792               10554712.0         1256339.0           16425.0
793               10554712.0         1256339.0           16425.0
..                       ...               ...               ...
846               10554712.0         1256339.0           16425.0
847               10554712.0         1256339.0           16425.0
848               10554712.0         1256339.0           16425.0
849               10554712.0         1256339.0           16425.0
850               10554712.0         1256339.0           16425.0

     life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
789           76.516                     146.37                       84.815
790           76.516                     146.37                       84.815
791           76.516                     146.37                       84.815
792           76.516                     146.37                       84.815
793           76.516                     146.37                       84.815
..               ...                        ...                          ...
846           76.516                     146.37                       84.815
847           76.516                     146.37                       84.815
848           76.516                     146.37                       84.815
849           76.516                     146.37                       84.815
850           76.516                     146.37                       84.815

     pollution_mortality_rate  comorbidity_mortality_rate
789                      63.9                        12.6
790                      63.9                        12.6
791                      63.9                        12.6
792                      63.9                        12.6
793                      63.9                        12.6
..                        ...                         ...
846                      63.9                        12.6
847                      63.9                        12.6
848                      63.9                        12.6
849                      63.9                        12.6
850                      63.9                        12.6

[62 rows x 50 columns]

### Contar cuantos valores Nulos tiene cada columna

In [30]:
# Contar cuántas filas contienen valores nulos en cada columna
null_counts = df.isnull().sum()

# Filtrar solo las columnas que tienen valores nulos
columns_with_nulls = null_counts[null_counts > 0]

# Mostrar el recuento de filas con valores nulos por columna
print("Columns with null values and their counts:")
print(columns_with_nulls)

Columns with null values and their counts:
new_confirmed                              4
new_deceased                               4
cumulative_confirmed                       4
cumulative_deceased                        4
average_temperature_celsius                9
minimum_temperature_celsius                9
maximum_temperature_celsius                9
rainfall_mm                               14
relative_humidity                          9
new_recovered                            991
cumulative_recovered                     991
cumulative_vaccine_doses_administered    410
dtype: int64

### Contar cuantos 0 tiene cada columna

In [31]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 69 rows with zero values.
Column 'new_deceased' has 73 rows with zero values.
Column 'cumulative_confirmed' has 64 rows with zero values.
Column 'cumulative_deceased' has 62 rows with zero values.
Column 'rainfall_mm' has 593 rows with zero values.

Counts of zero values per column: {'new_confirmed': 69, 'new_deceased': 73, 'cumulative_confirmed': 64, 'cumulative_deceased': 62, 'rainfall_mm': 593}

# Transformacion de DF

#### Realizo un filtrado debido que anterior y posterior a estas fechas hay valores nulos y/o datos errones

In [54]:
# Definir el rango de fechas
start_date = '2020-03-03'
end_date = '2022-08-31'

# Filtrar el DataFrame para mantener las filas dentro del rango de fechas
df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

#### Elimino estas columnas por: 
#### las 2 primeras columnas tienen valores errones
#### la 3ra columna tiene muchos valores en 0
#### la 4 y 5ta columna tienen puros valores nulos
#### la 6 y 7ma columna no concuerdan con el de poblacion 
#### Prefiero trabajar con el promedio de la temperatura del dia

In [55]:
columns_to_drop = [
    'cumulative_confirmed', 
    'cumulative_deceased', 
    'rainfall_mm', 
    'new_recovered',
    'cumulative_recovered',
    'population_rural',
    'population_urban', 
    'minimum_temperature_celsius', 
    'maximum_temperature_celsius'
]

# Eliminar las columnas
df.drop(columns=columns_to_drop, inplace=True)

In [56]:
df.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,population,population_male,population_female,population_age_00_09,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
0,PE,2020-07-21,PE,Peru,5313.0,601.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
1,PE,2020-07-22,PE,Peru,6328.0,617.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
2,PE,2020-07-23,PE,Peru,5871.0,623.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
3,PE,2020-07-24,PE,Peru,6261.0,587.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6
4,PE,2020-07-25,PE,Peru,5875.0,616.0,29381884,14450757,14931127,5140624,...,2.4398,1.3048,10554712.0,1256339.0,16425.0,76.516,146.37,84.815,63.9,12.6

In [57]:
# Contar cuántas filas contienen valores nulos en cada columna
null_counts = df.isnull().sum()

# Filtrar solo las columnas que tienen valores nulos
columns_with_nulls = null_counts[null_counts > 0]

# Mostrar el recuento de filas con valores nulos por columna
print("Columns with null values and their counts:")
print(columns_with_nulls)

Columns with null values and their counts:
average_temperature_celsius                5
relative_humidity                          5
cumulative_vaccine_doses_administered    343
dtype: int64

In [58]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 6 rows with zero values.
Column 'new_deceased' has 10 rows with zero values.

Counts of zero values per column: {'new_confirmed': 6, 'new_deceased': 10}

#### Vamos a imputar las columnas que tienen valores nulos y ceros

In [59]:
# Imputación con la media para columnas específicas
df['average_temperature_celsius'] = df['average_temperature_celsius'].fillna(df['average_temperature_celsius'].mean())
df['relative_humidity'] = df['relative_humidity'].fillna(df['relative_humidity'].mean())

In [60]:
# Calcular la mediana de la columna 'new_confirmed' y 'new_deceased'
median_new_confirmed = df['new_confirmed'].median()
median_new_deceased = df['new_deceased'].median()

# Fechas específicas para imputar
dates_to_impute = ['2022-05-06', '2022-06-01']

# Reemplazar valores cero por la mediana en las fechas específicas
for date in dates_to_impute:
    df.loc[(df['date'] == date) & (df['new_confirmed'] == 0), 'new_confirmed'] = median_new_confirmed
    df.loc[(df['date'] == date) & (df['new_deceased'] == 0), 'new_deceased'] = median_new_deceased

In [61]:
# Contar cuántas filas contienen valores 0 en cada columna
columns_with_zeros = df.columns[(df == 0).any()]

# Crear un diccionario para almacenar el recuento de filas con valores 0
zero_counts = {column: (df[column] == 0).sum() for column in columns_with_zeros}

# Mostrar el recuento de filas con valores 0 por columna
print("\nColumns with zero values and their counts:")
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} rows with zero values.")

# Opcional: mostrar el diccionario completo de ceros
print("\nCounts of zero values per column:", zero_counts)

Columns with zero values and their counts:
Column 'new_confirmed' has 4 rows with zero values.
Column 'new_deceased' has 8 rows with zero values.

Counts of zero values per column: {'new_confirmed': 4, 'new_deceased': 8}