### **Carga y verificación de los datos**

In [1]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog

# Crear la ventana raíz de tkinter y ocultarla
root = tk.Tk()
root.withdraw()

# Abrir el cuadro de diálogo de selección de archivo
file_path = filedialog.askopenfilename(
    title="Seleccionar archivo CSV",
    filetypes=[("CSV files", ".csv"), ("All files", ".*")]
)

# Leer el archivo CSV
if file_path:
    data = pd.read_csv(file_path)
    print(f"Archivo {file_path} cargado y leído con éxito.")
else:
    print("No se seleccionó ningún archivo.")

Archivo D:/Desktop/simulacion_3/Notebooks/data_latinoamerica.csv cargado y leído con éxito.

In [59]:
data['country_code'].unique()

array(['AR', 'BO', 'BR', 'CL', 'CO', 'CR', 'CU', 'DO', 'EC', 'GT', 'HN',
       'MX', 'NI', 'PA', 'PE', 'PR', 'PY', 'SV', 'UY', 'VE'], dtype=object)

In [60]:
data.columns

Index(['location_key', 'date', 'country_code', 'country_name', 'new_confirmed',
       'new_deceased', 'cumulative_confirmed', 'cumulative_deceased',
       'cumulative_vaccine_doses_administered', 'population',
       'population_male', 'population_female', 'population_rural',
       'population_urban', 'population_density', 'human_development_index',
       'population_age_00_09', 'population_age_10_19', 'population_age_20_29',
       'population_age_30_39', 'population_age_40_49', 'population_age_50_59',
       'population_age_60_69', 'population_age_70_79',
       'population_age_80_and_older', 'gdp_usd', 'gdp_per_capita_usd',
       'latitude', 'longitude', 'area_sq_km', 'smoking_prevalence',
       'diabetes_prevalence', 'infant_mortality_rate', 'nurses_per_1000',
       'physicians_per_1000', 'average_temperature_celsius',
       'minimum_temperature_celsius', 'maximum_temperature_celsius',
       'rainfall_mm', 'relative_humidity', 'population_largest_city',
       'area_rural_sq_km', 'area_urban_sq_km', 'life_expectancy',
       'adult_male_mortality_rate', 'adult_female_mortality_rate',
       'pollution_mortality_rate', 'comorbidity_mortality_rate',
       'new_recovered', 'cumulative_recovered'],
      dtype='object')

In [61]:
# Lista de códigos de los países a conservar
paises = ['AR', 'CO', 'PE']

# Filtrar los datos para conservar solo los registros de los países especificados
data_paises = data[data['country_code'].isin(paises)]

### **Creación de la tabla '1_tabla_hechos'**

In [73]:
datos_hechos_cols = ['location_key', 'date', 'country_code', 'new_confirmed', 'new_deceased', 'cumulative_confirmed', 'cumulative_deceased']

In [78]:
datos_hechos = data_paises[datos_hechos_cols]

In [75]:
datos_hechos.isnull().sum()

location_key                  0
date                          0
country_code                  0
new_confirmed           2559713
new_deceased            2559713
cumulative_confirmed    2559713
cumulative_deceased     2559713
dtype: int64

In [82]:
datos_hechos = datos_hechos.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x)

In [84]:
datos_hechos.describe()

       new_confirmed  new_deceased  cumulative_confirmed  cumulative_deceased
count   3.569582e+06  3.569582e+06          3.569582e+06         3.569582e+06
mean    5.534082e+01  1.467832e+00          1.929515e+04         6.433436e+02
std     4.588629e+02  8.401337e+00          1.220663e+05         3.620843e+03
min     0.000000e+00  0.000000e+00          0.000000e+00         0.000000e+00
25%     3.700000e+01  1.000000e+00          1.416700e+04         4.860000e+02
50%     5.534082e+01  1.467832e+00          1.929515e+04         6.433436e+02
75%     5.534082e+01  1.467832e+00          1.929515e+04         6.433436e+02
max     1.741740e+05  8.470000e+02          9.697763e+06         2.161730e+05

In [85]:
df_datos_hechos = datos_hechos.dropna()
df_datos_hechos.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
12136772    False
12136773    False
12136774    False
12136775    False
12136776    False
Length: 3569582, dtype: bool

In [86]:
df_datos_hechos.to_csv('1_tabla_hechos.csv', index=False)

### **Creación de la tabla '2_tabla_clima'**

In [66]:
datos_clima_cols = ['date', 'country_code','average_temperature_celsius', 'minimum_temperature_celsius',
                    'maximum_temperature_celsius', 'rainfall_mm', 'relative_humidity']

In [67]:
datos_clima = data_paises[datos_clima_cols]

In [68]:
datos_clima.isnull().sum()

date                                0
country_code                        0
average_temperature_celsius     70276
minimum_temperature_celsius     70321
maximum_temperature_celsius     70330
rainfall_mm                    129970
relative_humidity               70456
dtype: int64

In [69]:
datos_clima = datos_clima.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x)

In [71]:
df_datos_clima = datos_clima.dropna()
df_datos_clima.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
12136772    False
12136773     True
12136774     True
12136775     True
12136776     True
Length: 3569582, dtype: bool

In [33]:
## df_datos_clima = df_datos_clima.drop_duplicates()
## df_datos_clima

,date,country_code,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity
0,2020-01-01,AR,23.500000,18.034722,33.347222,0.0000,64.426444
1,2020-01-02,AR,23.687500,17.194444,29.819444,0.0000,65.073967
2,2020-01-03,AR,25.194444,17.750000,31.506944,0.0000,59.669389
3,2020-01-04,AR,26.305556,17.895833,33.229167,0.0000,53.485178
4,2020-01-05,AR,25.888889,18.062500,33.923611,2.1844,57.126165
...,...,...,...,...,...,...,...
12136768,2022-09-09,PE,32.888889,20.777778,37.500000,0.0000,56.724436
12136769,2022-09-10,PE,29.555556,20.888889,37.277778,5.8420,68.123222
12136770,2022-09-11,PE,25.388889,20.500000,34.611111,0.0000,65.911974
12136771,2022-09-12,PE,30.666667,18.888889,35.000000,0.0000,64.995247
12136772,2022-09-13,PE,31.777778,21.722222,36.722222,16.2560,62.040723

In [72]:
df_datos_clima.to_csv('2_tabla_clima.csv', index=False)

### **Creación de la tabla '3_tabla_rango_poblacion'**

In [62]:
poblacion_rango_cols = ['date','country_code', 'population_age_00_09', 'population_age_10_19', 'population_age_20_29', 'population_age_30_39', 
                  'population_age_40_49', 'population_age_50_59', 'population_age_60_69', 'population_age_70_79', 
                  'population_age_80_and_older']

In [63]:
poblacion_rango = data_paises[poblacion_rango_cols]
poblacion_rango

,date,country_code,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,2020-01-01,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
1,2020-01-02,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
2,2020-01-03,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
3,2020-01-04,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
4,2020-01-05,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
...,...,...,...,...,...,...,...,...,...,...,...
12136772,2022-09-13,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136773,2022-09-14,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136774,2022-09-15,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136775,2022-09-16,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136776,2022-09-17,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0

In [38]:
poblacion_rango.describe()

,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
count,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07,1.048478e+07
mean,1.979632e+04,2.132820e+04,2.066173e+04,1.881357e+04,1.541702e+04,1.196506e+04,7.831599e+03,4.320179e+03,2.129547e+03
std,3.828439e+05,4.054598e+05,4.137100e+05,4.020832e+05,3.369230e+05,2.725618e+05,1.854360e+05,9.839456e+04,4.714637e+04
min,9.000000e+00,7.000000e+00,4.000000e+00,1.300000e+01,1.000000e+01,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,6.870000e+02,8.107500e+02,6.370000e+02,5.747500e+02,5.150000e+02,4.010000e+02,2.790000e+02,1.660000e+02,8.400000e+01
50%,1.798500e+03,2.037000e+03,1.668500e+03,1.433000e+03,1.203500e+03,9.020000e+02,6.195000e+02,3.645000e+02,1.840000e+02
75%,4.655000e+03,5.113000e+03,4.259250e+03,3.583250e+03,2.925000e+03,2.160000e+03,1.459000e+03,8.572500e+02,4.350000e+02
max,2.907691e+07,3.116045e+07,3.410464e+07,3.447676e+07,2.946201e+07,2.442120e+07,1.689686e+07,8.801551e+06,4.159027e+06

In [16]:
poblacion_rango.isnull().sum()

date                                 0
country_code                         0
population_age_00_09           1465689
population_age_10_19           1465689
population_age_20_29           1465689
population_age_30_39           1465689
population_age_40_49           1465689
population_age_50_59           1465689
population_age_60_69           1465689
population_age_70_79           1465689
population_age_80_and_older    1465689
dtype: int64

In [64]:
poblacion_rango = poblacion_rango.dropna()
poblacion_rango.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
12136772    False
12136773    False
12136774    False
12136775    False
12136776    False
Length: 2460653, dtype: bool

In [18]:
poblacion_rango = poblacion_rango.drop_duplicates()
poblacion_rango

,date,country_code,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,2020-01-01,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
1,2020-01-02,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
2,2020-01-03,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
3,2020-01-04,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
4,2020-01-05,AR,6718871.0,7045513.0,6430658.0,5777148.0,4507125.0,3911943.0,2914251.0,1817557.0,994030.0
...,...,...,...,...,...,...,...,...,...,...,...
12136772,2022-09-13,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136773,2022-09-14,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136774,2022-09-15,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136775,2022-09-16,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0
12136776,2022-09-17,PE,766.0,604.0,410.0,391.0,321.0,210.0,103.0,46.0,9.0

In [65]:
poblacion_rango.to_csv('3_tabla_rango_poblacion.csv', index=False)

### **Creación de la tabla 'X_tabla_recuperacion_personas'**

In [105]:
recuperacion_personas_cols = [ 'date', 'country_code', 'cumulative_vaccine_doses_administered', 'new_recovered', 'cumulative_recovered']

In [106]:
recuperacion_personas = data_paises[recuperacion_personas_cols]

In [118]:
sin_nulos = recuperacion_personas.dropna()

In [120]:
sin_nulos['country_code'].unique()

array(['CO'], dtype=object)

In [121]:
sin_nulos

,date,country_code,cumulative_vaccine_doses_administered,new_recovered,cumulative_recovered
6475607,2021-02-17,CO,18.0,4465.0,2028406.0
6475608,2021-02-18,CO,9935.0,5616.0,2034022.0
6475609,2021-02-19,CO,21307.0,4935.0,2038957.0
6475610,2021-02-20,CO,33140.0,4711.0,2043668.0
6475611,2021-02-21,CO,39827.0,4692.0,2048360.0
...,...,...,...,...,...
7616584,2022-01-19,CO,61229.0,8.0,3030.0
7616585,2022-01-20,CO,61723.0,20.0,3050.0
7616586,2022-01-21,CO,62216.0,9.0,3059.0
7616587,2022-01-22,CO,62366.0,15.0,3074.0
7616588,2022-01-23,CO,62366.0,12.0,3086.0

In [107]:
recuperacion_personas.isnull().sum()

date                                           0
country_code                                   0
cumulative_vaccine_doses_administered    3323410
new_recovered                            3231217
cumulative_recovered                     3231217
dtype: int64

In [98]:
recuperacion_personas = recuperacion_personas.apply(lambda x: x.fillna(value=0) if x.dtype.kind in 'biufc' else x)

In [103]:
df_recuperacion_personas = recuperacion_personas.dropna()
df_recuperacion_personas.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
12136772     True
12136773     True
12136774     True
12136775     True
12136776     True
Length: 3569582, dtype: bool

In [ ]:
## df_recuperacion_personas = df_recuperacion_personas.drop_duplicates()
## df_recuperacion_personas

,date,country_code,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity
0,2020-01-01,AR,23.500000,18.034722,33.347222,0.0000,64.426444
1,2020-01-02,AR,23.687500,17.194444,29.819444,0.0000,65.073967
2,2020-01-03,AR,25.194444,17.750000,31.506944,0.0000,59.669389
3,2020-01-04,AR,26.305556,17.895833,33.229167,0.0000,53.485178
4,2020-01-05,AR,25.888889,18.062500,33.923611,2.1844,57.126165
...,...,...,...,...,...,...,...
12136768,2022-09-09,PE,32.888889,20.777778,37.500000,0.0000,56.724436
12136769,2022-09-10,PE,29.555556,20.888889,37.277778,5.8420,68.123222
12136770,2022-09-11,PE,25.388889,20.500000,34.611111,0.0000,65.911974
12136771,2022-09-12,PE,30.666667,18.888889,35.000000,0.0000,64.995247
12136772,2022-09-13,PE,31.777778,21.722222,36.722222,16.2560,62.040723

In [122]:
df_recuperacion_personas.to_csv('x_tabla_recuperacion_personas.csv', index=False)

### **Creación de la tabla '4_tabla_coordenadas'**

In [128]:
coordenadas_cols = ['location_key', 'country_code', 'latitude', 'longitude']

In [129]:
coordenadas = data_paises[coordenadas_cols]

In [130]:
coordenadas

         location_key country_code   latitude  longitude
0                  AR           AR -34.000000 -64.000000
1                  AR           AR -34.000000 -64.000000
2                  AR           AR -34.000000 -64.000000
3                  AR           AR -34.000000 -64.000000
4                  AR           AR -34.000000 -64.000000
...               ...          ...        ...        ...
12136772  PE_UCA_0401           PE  -9.798611 -70.753333
12136773  PE_UCA_0401           PE  -9.798611 -70.753333
12136774  PE_UCA_0401           PE  -9.798611 -70.753333
12136775  PE_UCA_0401           PE  -9.798611 -70.753333
12136776  PE_UCA_0401           PE  -9.798611 -70.753333

[3569582 rows x 4 columns]

In [133]:
coordenadas = coordenadas.drop_duplicates()

In [137]:
coordenadas.isnull().sum()

location_key    0
country_code    0
latitude        0
longitude       0
dtype: int64

In [136]:
coordenadas = coordenadas.apply(lambda x: x.fillna(value=0) if x.dtype.kind in 'biufc' else x)

In [ ]:
## df_recuperacion_personas = df_recuperacion_personas.drop_duplicates()
## df_recuperacion_personas

,date,country_code,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity
0,2020-01-01,AR,23.500000,18.034722,33.347222,0.0000,64.426444
1,2020-01-02,AR,23.687500,17.194444,29.819444,0.0000,65.073967
2,2020-01-03,AR,25.194444,17.750000,31.506944,0.0000,59.669389
3,2020-01-04,AR,26.305556,17.895833,33.229167,0.0000,53.485178
4,2020-01-05,AR,25.888889,18.062500,33.923611,2.1844,57.126165
...,...,...,...,...,...,...,...
12136768,2022-09-09,PE,32.888889,20.777778,37.500000,0.0000,56.724436
12136769,2022-09-10,PE,29.555556,20.888889,37.277778,5.8420,68.123222
12136770,2022-09-11,PE,25.388889,20.500000,34.611111,0.0000,65.911974
12136771,2022-09-12,PE,30.666667,18.888889,35.000000,0.0000,64.995247
12136772,2022-09-13,PE,31.777778,21.722222,36.722222,16.2560,62.040723

In [138]:
coordenadas.to_csv('4_tabla_coordenadas.csv', index=False)

### **Creación de la tabla '5_tabla_poblacion'**

In [155]:
poblacion_cols = ['date', 'country_code', 'population', 'population_male', 'population_female']

In [156]:
poblacion = data_paises[poblacion_cols]

In [157]:
poblacion

,date,country_code,population,population_male,population_female
0,2020-01-01,AR,44938712.0,19523766.0,20593330.0
1,2020-01-02,AR,44938712.0,19523766.0,20593330.0
2,2020-01-03,AR,44938712.0,19523766.0,20593330.0
3,2020-01-04,AR,44938712.0,19523766.0,20593330.0
4,2020-01-05,AR,44938712.0,19523766.0,20593330.0
...,...,...,...,...,...
12136772,2022-09-13,PE,2860.0,1477.0,1383.0
12136773,2022-09-14,PE,2860.0,1477.0,1383.0
12136774,2022-09-15,PE,2860.0,1477.0,1383.0
12136775,2022-09-16,PE,2860.0,1477.0,1383.0
12136776,2022-09-17,PE,2860.0,1477.0,1383.0

In [158]:
poblacion.isnull().sum()

date                       0
country_code               0
population            516311
population_male      1108929
population_female    1108929
dtype: int64

In [159]:
poblacion = poblacion.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x)

In [ ]:
## df_recuperacion_personas = df_recuperacion_personas.drop_duplicates()
## df_recuperacion_personas

,date,country_code,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity
0,2020-01-01,AR,23.500000,18.034722,33.347222,0.0000,64.426444
1,2020-01-02,AR,23.687500,17.194444,29.819444,0.0000,65.073967
2,2020-01-03,AR,25.194444,17.750000,31.506944,0.0000,59.669389
3,2020-01-04,AR,26.305556,17.895833,33.229167,0.0000,53.485178
4,2020-01-05,AR,25.888889,18.062500,33.923611,2.1844,57.126165
...,...,...,...,...,...,...,...
12136768,2022-09-09,PE,32.888889,20.777778,37.500000,0.0000,56.724436
12136769,2022-09-10,PE,29.555556,20.888889,37.277778,5.8420,68.123222
12136770,2022-09-11,PE,25.388889,20.500000,34.611111,0.0000,65.911974
12136771,2022-09-12,PE,30.666667,18.888889,35.000000,0.0000,64.995247
12136772,2022-09-13,PE,31.777778,21.722222,36.722222,16.2560,62.040723

In [162]:
poblacion.to_csv('5_tabla_poblacion.csv', index=False)

### **Creación de la tabla '6_tabla_pais'**

In [163]:
pais_cols = ['date', 'country_code', 'country_name', 'population_rural', 'population_urban', 'population_density', 'human_development_index',
 'gdp_usd', 'gdp_per_capita_usd', 'area_sq_km', 'smoking_prevalence', 'diabetes_prevalence', 'infant_mortality_rate', 'nurses_per_1000', 'physicians_per_1000',
 'population_largest_city', 'area_rural_sq_km', 'area_urban_sq_km', 'life_expectancy', 'adult_male_mortality_rate', 'adult_female_mortality_rate',
'pollution_mortality_rate', 'comorbidity_mortality_rate']

In [175]:
pais = data_paises[pais_cols]

In [165]:
pais

,date,country_code,country_name,population_rural,population_urban,population_density,human_development_index,gdp_usd,gdp_per_capita_usd,area_sq_km,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
0,2020-01-01,AR,Argentina,3599141.0,41339571.0,16.515,0.825,4.496634e+11,10006.0,2780400.0,...,2.5996,3.9901,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8
1,2020-01-02,AR,Argentina,3599141.0,41339571.0,16.515,0.825,4.496634e+11,10006.0,2780400.0,...,2.5996,3.9901,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8
2,2020-01-03,AR,Argentina,3599141.0,41339571.0,16.515,0.825,4.496634e+11,10006.0,2780400.0,...,2.5996,3.9901,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8
3,2020-01-04,AR,Argentina,3599141.0,41339571.0,16.515,0.825,4.496634e+11,10006.0,2780400.0,...,2.5996,3.9901,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8
4,2020-01-05,AR,Argentina,3599141.0,41339571.0,16.515,0.825,4.496634e+11,10006.0,2780400.0,...,2.5996,3.9901,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12136772,2022-09-13,PE,Peru,NaN,NaN,NaN,NaN,NaN,NaN,17847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12136773,2022-09-14,PE,Peru,NaN,NaN,NaN,NaN,NaN,NaN,17847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12136774,2022-09-15,PE,Peru,NaN,NaN,NaN,NaN,NaN,NaN,17847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12136775,2022-09-16,PE,Peru,NaN,NaN,NaN,NaN,NaN,NaN,17847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12136776,2022-09-17,PE,Peru,NaN,NaN,NaN,NaN,NaN,NaN,17847.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
pais.isnull().sum()

date                                 0
country_code                         0
country_name                         0
population_rural               3566609
population_urban               3566609
population_density             3566609
human_development_index        3562645
gdp_usd                        3566609
gdp_per_capita_usd             3566609
area_sq_km                      699646
smoking_prevalence             3566609
diabetes_prevalence            3566609
infant_mortality_rate          3566609
nurses_per_1000                3566609
physicians_per_1000            3566609
population_largest_city        3566609
area_rural_sq_km               3566609
area_urban_sq_km               3566609
life_expectancy                3566609
adult_male_mortality_rate      3566609
adult_female_mortality_rate    3566609
pollution_mortality_rate       3566609
comorbidity_mortality_rate     3566609
dtype: int64

In [172]:
pais = pais.dropna()

In [ ]:
## df_recuperacion_personas = df_recuperacion_personas.drop_duplicates()
## df_recuperacion_personas

,date,country_code,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity
0,2020-01-01,AR,23.500000,18.034722,33.347222,0.0000,64.426444
1,2020-01-02,AR,23.687500,17.194444,29.819444,0.0000,65.073967
2,2020-01-03,AR,25.194444,17.750000,31.506944,0.0000,59.669389
3,2020-01-04,AR,26.305556,17.895833,33.229167,0.0000,53.485178
4,2020-01-05,AR,25.888889,18.062500,33.923611,2.1844,57.126165
...,...,...,...,...,...,...,...
12136768,2022-09-09,PE,32.888889,20.777778,37.500000,0.0000,56.724436
12136769,2022-09-10,PE,29.555556,20.888889,37.277778,5.8420,68.123222
12136770,2022-09-11,PE,25.388889,20.500000,34.611111,0.0000,65.911974
12136771,2022-09-12,PE,30.666667,18.888889,35.000000,0.0000,64.995247
12136772,2022-09-13,PE,31.777778,21.722222,36.722222,16.2560,62.040723

In [174]:
pais.to_csv('6_tabla_pais.csv', index=False)