In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Carga de dataset
df = pd.read_csv("../../data/data_latinoamerica.csv", usecols=range(10))
df.sample(10)

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population
2660943,BR_MG_316540,2020-04-18,BR,Brazil,0.0,0.0,0.0,0.0,NaN,6241.0
2993772,BR_PA_150170,2022-08-10,BR,Brazil,26.0,0.0,7385.0,196.0,NaN,113227.0
2437646,BR_MG_314625,2022-02-16,BR,Brazil,9.0,0.0,388.0,8.0,NaN,5834.0
7310514,CO_63_63190,2022-06-17,CO,Colombia,NaN,NaN,NaN,NaN,NaN,28162.0
180588,AR_D_063,2020-08-14,AR,Argentina,NaN,NaN,NaN,NaN,NaN,4707.0
5897843,BR_SP_355090,2021-02-06,BR,Brazil,4.0,0.0,360.0,8.0,NaN,14346.0
2701006,BR_MG_316880,2021-06-15,BR,Brazil,3.0,0.0,441.0,16.0,NaN,6961.0
7654954,DO_08,2021-04-15,DO,Dominican Republic,NaN,NaN,NaN,NaN,NaN,87680.0
2752688,BR_MS_500070,2021-11-12,BR,Brazil,0.0,0.0,2648.0,87.0,NaN,23835.0
9416182,MX_PUE_21089,2021-11-22,MX,Mexico,NaN,NaN,NaN,NaN,NaN,12997.0

In [16]:
df=df[df['location_key']=='AR']

In [17]:
df

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0
...,...,...,...,...,...,...,...,...,...,...
986,AR,2022-09-13,AR,Argentina,0.0,0.0,9697763.0,129830.0,109204825.0,44938712.0
987,AR,2022-09-14,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0
988,AR,2022-09-15,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0
989,AR,2022-09-16,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0
990,AR,2022-09-17,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0

In [18]:
df.loc[:, 'vaccine'] = df['cumulative_vaccine_doses_administered'].diff()

In [19]:
df

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,vaccine
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0,NaN
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0,NaN
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0,NaN
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0,NaN
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
986,AR,2022-09-13,AR,Argentina,0.0,0.0,9697763.0,129830.0,109204825.0,44938712.0,2.0
987,AR,2022-09-14,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0,NaN
988,AR,2022-09-15,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0,NaN
989,AR,2022-09-16,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0,NaN
990,AR,2022-09-17,AR,Argentina,NaN,NaN,NaN,NaN,NaN,44938712.0,NaN

In [26]:
df[['location_key','date','new_confirmed', 'new_deceased','cumulative_vaccine_doses_administered','vaccine']].iloc[860:900]

,location_key,date,new_confirmed,new_deceased,cumulative_vaccine_doses_administered,vaccine
860,AR,2022-05-10,5014.0,5.0,33632582.0,6096.0
861,AR,2022-05-11,5469.0,1.0,33638651.0,6069.0
862,AR,2022-05-12,5661.0,4.0,33644437.0,5786.0
863,AR,2022-05-13,5595.0,5.0,33650470.0,6033.0
864,AR,2022-05-14,3190.0,5.0,33652695.0,2225.0
865,AR,2022-05-15,2569.0,5.0,33653623.0,928.0
866,AR,2022-05-16,6378.0,7.0,33658354.0,4731.0
867,AR,2022-05-17,5969.0,4.0,33663799.0,5445.0
868,AR,2022-05-18,3071.0,4.0,33663828.0,29.0
869,AR,2022-05-19,8670.0,8.0,33668339.0,4511.0
870,AR,2022-05-20,7514.0,4.0,33668339.0,0.0
871,AR,2022-05-21,4482.0,5.0,101952034.0,68283695.0
872,AR,2022-05-22,3176.0,6.0,102003041.0,51007.0
873,AR,2022-05-23,9592.0,7.0,102227123.0,224082.0
874,AR,2022-05-24,8249.0,7.0,102435767.0,208644.0
875,AR,2022-05-25,3390.0,8.0,102471965.0,36198.0
876,AR,2022-05-26,8240.0,13.0,102680990.0,209025.0
877,AR,2022-05-27,6910.0,12.0,102910865.0,229875.0
878,AR,2022-05-28,3685.0,8.0,103024232.0,113367.0
879,AR,2022-05-29,2862.0,11.0,103082036.0,57804.0
880,AR,2022-05-30,7008.0,6.0,103280642.0,198606.0
881,AR,2022-05-31,6174.0,14.0,103470232.0,189590.0
882,AR,2022-06-01,5868.0,8.0,103629347.0,159115.0
883,AR,2022-06-02,5205.0,3.0,103789439.0,160092.0
884,AR,2022-06-03,4083.0,2.0,103964479.0,175040.0
885,AR,2022-06-04,1685.0,1.0,104007100.0,42621.0
886,AR,2022-06-05,0.0,0.0,104025101.0,18001.0
887,AR,2022-06-06,0.0,0.0,104168157.0,143056.0
888,AR,2022-06-07,0.0,0.0,104305263.0,137106.0
889,AR,2022-06-08,0.0,0.0,104445461.0,140198.0
890,AR,2022-06-09,0.0,0.0,104584406.0,138945.0
891,AR,2022-06-10,36835.0,21.0,104735457.0,151051.0
892,AR,2022-06-11,0.0,0.0,104773961.0,38504.0
893,AR,2022-06-12,0.0,0.0,104791061.0,17100.0
894,AR,2022-06-13,0.0,0.0,104925598.0,134537.0
895,AR,2022-06-14,0.0,0.0,105068848.0,143250.0
896,AR,2022-06-15,0.0,0.0,105210189.0,141341.0
897,AR,2022-06-16,0.0,0.0,105359194.0,149005.0
898,AR,2022-06-17,28039.0,22.0,105383194.0,24000.0
899,AR,2022-06-18,0.0,0.0,105410017.0,26823.0