In [23]:
import pandas as pd

In [47]:
from datetime import timedelta
import pandas as pd
import os

In [51]:
# Paths to CSV files
base_path = '/home/angel/Escritorio/airflow_env/covid19//covid_data/'
countries = ['Peru', 'Argentina', 'Colombia', 'Brazil']

def detect_new_files(base_path, countries):
    new_files = {}
    for country in countries:
        country_path = os.path.join(base_path, f"{country}")
        if os.path.exists(country_path):
            for year in range(2020, 2023):
                file_path = os.path.join(country_path, f"{country}_{year}.csv")
                if os.path.exists(file_path):
                    if country not in new_files:
                        new_files[country] = []
                    new_files[country].append(file_path)
    return new_files

In [52]:
new_files_detected = detect_new_files()
print(new_files_detected)

TypeError: detect_new_files() missing 2 required positional arguments: 'base_path' and 'countries'

In [54]:
def load_data(base_path, countries):
    new_files = detect_new_files(base_path, countries)
    dataframes = {}
    for country, files in new_files.items():
        dfs = [pd.read_csv(file) for file in files]
        dataframes[country] = pd.concat(dfs, ignore_index=True)
    
    # Imprimir los dataframes cargados para cada pa√≠s
    for country, df in dataframes.items():
        print(f"Data for {country}:")
        print(df.head())  # Imprime las primeras filas del dataframe
        print("\n")
    
    return dataframes

In [55]:
# Llamar a la funci√≥n y cargar los datos
dataframes = load_data(base_path, countries)

Data for Peru:
  location_key        date country_code country_name  new_confirmed  \
0           PE  2020-07-21           PE         Peru         5313.0
1           PE  2020-07-22           PE         Peru         6328.0
2           PE  2020-07-23           PE         Peru         5871.0
3           PE  2020-07-24           PE         Peru         6261.0
4           PE  2020-07-25           PE         Peru         5875.0

   new_deceased  cumulative_confirmed  cumulative_deceased  population  \
0         601.0              384281.0              50781.0    29381884
1         617.0              390609.0              51398.0    29381884
2         623.0              396480.0              52021.0    29381884
3         587.0              402741.0              52608.0    29381884
4         616.0              408616.0              53224.0    29381884

   population_male  ...  nurses_per_1000  physicians_per_1000  \
0         14450757  ...           2.4398               1.3048
1         14450757  ...           2.4398               1.3048
2         14450757  ...           2.4398               1.3048
3         14450757  ...           2.4398               1.3048
4         14450757  ...           2.4398               1.3048

   population_largest_city  area_rural_sq_km  area_urban_sq_km  \
0               10554712.0         1256339.0           16425.0
1               10554712.0         1256339.0           16425.0
2               10554712.0         1256339.0           16425.0
3               10554712.0         1256339.0           16425.0
4               10554712.0         1256339.0           16425.0

   life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
0           76.516                     146.37                       84.815
1           76.516                     146.37                       84.815
2           76.516                     146.37                       84.815
3           76.516                     146.37                       84.815
4           76.516                     146.37                       84.815

   pollution_mortality_rate  comorbidity_mortality_rate
0                      63.9                        12.6
1                      63.9                        12.6
2                      63.9                        12.6
3                      63.9                        12.6
4                      63.9                        12.6

[5 rows x 50 columns]


Data for Argentina:
  location_key        date country_code country_name  new_confirmed  \
0           AR  2020-01-01           AR    Argentina            3.0
1           AR  2020-01-02           AR    Argentina           14.0
2           AR  2020-01-03           AR    Argentina            3.0
3           AR  2020-01-04           AR    Argentina            7.0
4           AR  2020-01-05           AR    Argentina            5.0

   new_deceased  cumulative_confirmed  cumulative_deceased  population  \
0           0.0                   3.0                  0.0    44938712
1           0.0                  17.0                  0.0    44938712
2           0.0                  20.0                  0.0    44938712
3           0.0                  27.0                  0.0    44938712
4           0.0                  32.0                  0.0    44938712

   population_male  ...  nurses_per_1000  physicians_per_1000  \
0         19523766  ...           2.5996               3.9901
1         19523766  ...           2.5996               3.9901
2         19523766  ...           2.5996               3.9901
3         19523766  ...           2.5996               3.9901
4         19523766  ...           2.5996               3.9901

   population_largest_city  area_rural_sq_km  area_urban_sq_km  \
0                 15057273           2690269             55032
1                 15057273           2690269             55032
2                 15057273           2690269             55032
3                 15057273           2690269             55032
4                 15057273           2690269             55032

   life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
0            76.52                    147.086                       79.483
1            76.52                    147.086                       79.483
2            76.52                    147.086                       79.483
3            76.52                    147.086                       79.483
4            76.52                    147.086                       79.483

   pollution_mortality_rate  comorbidity_mortality_rate
0                      26.6                        15.8
1                      26.6                        15.8
2                      26.6                        15.8
3                      26.6                        15.8
4                      26.6                        15.8

[5 rows x 50 columns]


Data for Colombia:
  location_key        date country_code country_name  new_confirmed  \
0           CO  2020-01-01           CO     Colombia            0.0
1           CO  2020-01-02           CO     Colombia            0.0
2           CO  2020-01-03           CO     Colombia            0.0
3           CO  2020-01-04           CO     Colombia            0.0
4           CO  2020-01-05           CO     Colombia            0.0

   new_deceased  cumulative_confirmed  cumulative_deceased  population  \
0           0.0                   0.0                  0.0    50882884
1           0.0                   0.0                  0.0    50882884
2           0.0                   0.0                  0.0    50882884
3           0.0                   0.0                  0.0    50882884
4           0.0                   0.0                  0.0    50882884

   population_male  ...  nurses_per_1000  physicians_per_1000  \
0         24984564  ...           1.3309               2.1848
1         24984564  ...           1.3309               2.1848
2         24984564  ...           1.3309               2.1848
3         24984564  ...           1.3309               2.1848
4         24984564  ...           1.3309               2.1848

   population_largest_city  area_rural_sq_km  area_urban_sq_km  \
0                 10779376           1090598             36132
1                 10779376           1090598             36132
2                 10779376           1090598             36132
3                 10779376           1090598             36132
4                 10779376           1090598             36132

   life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
0           77.109                    151.616                       77.999
1           77.109                    151.616                       77.999
2           77.109                    151.616                       77.999
3           77.109                    151.616                       77.999
4           77.109                    151.616                       77.999

   pollution_mortality_rate  comorbidity_mortality_rate
0                        37                        15.8
1                        37                        15.8
2                        37                        15.8
3                        37                        15.8
4                        37                        15.8

[5 rows x 50 columns]

In [56]:
dataframes.columns

AttributeError: 'dict' object has no attribute 'columns'

In [50]:
def load_data(ti):
    new_files = ti.xcom_pull(task_ids='detect_new_files_task')
    dataframes = {}
    for country, files in new_files.items():
        dfs = [pd.read_csv(file) for file in files]
        dataframes[country] = pd.concat(dfs, ignore_index=True)
    ti.xcom_push(key='dataframes', value=dataframes)

### adecua los csv

In [32]:
df_peru= pd.read_csv('Peru.csv')

In [19]:
df_argentina = pd.read_csv('Argentina.csv')
df_colombia = pd.read_csv('Colombia.csv')

In [ ]:
df_brasil = pd.read_csv('Brasil.csv')

In [39]:
columns_to_drop = [
    'cumulative_confirmed', 
    'cumulative_deceased', 
    'rainfall_mm', 
    'new_recovered',
    'cumulative_recovered',
    'population_rural',
    'population_urban', 
    'minimum_temperature_celsius', 
    'maximum_temperature_celsius'
]

# Funci√≥n para eliminar columnas y realizar filtrados espec√≠ficos
def process_dataframe(df, columns=columns_to_drop):

    # Verificar si el DataFrame es None
    if df is None:
        raise ValueError("El DataFrame proporcionado es None")

    # Ordenar por fecha
    df = df.sort_values(by='date')

    # Filtrado por primer valor no nulo y no cero en 'new_confirmed'
    filtered_df = pd.DataFrame()
    for country in df['country_code'].unique():
        country_df = df[df['country_code'] == country]
        start_index = country_df[country_df['new_confirmed'].notna() & (country_df['new_confirmed'] != 0)].index[0]
        end_index = country_df[country_df['date'] == '2022-08-31'].index[0]
        filtered_country_df = country_df.loc[start_index:end_index]
        filtered_df = pd.concat([filtered_df, filtered_country_df])
    
    df = filtered_df

    # Eliminar las columnas especificadas
    df = df.drop(columns=columns, errors='ignore')

        
    # Imputaci√≥n con la media para columnas espec√≠ficas
    df['average_temperature_celsius'] = df['average_temperature_celsius'].fillna(df['average_temperature_celsius'].mean())
    df['relative_humidity'] = df['relative_humidity'].fillna(df['relative_humidity'].mean())
    
    # Filtrado espec√≠fico para las columnas 'new_confirmed' y 'new_deceased' en el rango 2021-08-31 a 2022-06-30
    date_mask = (df['date'] >= '2021-08-31') & (df['date'] <= '2022-06-30')
    df.loc[date_mask, 'new_confirmed'] = df.loc[date_mask, 'new_confirmed'].fillna(df['new_confirmed'].median())
    df.loc[date_mask, 'new_deceased'] = df.loc[date_mask, 'new_deceased'].fillna(df['new_deceased'].median()) 
    

    # Calcular la mediana de la columna 'cumulative_vaccine_doses_administered'
    median_vaccine_doses = df['cumulative_vaccine_doses_administered'][df['cumulative_vaccine_doses_administered'] >= 0].median()

    # Reemplazar los valores negativos en la columna 'cumulative_vaccine_doses_administered' por la mediana calculada
    df.loc[df['cumulative_vaccine_doses_administered'] < 0, 'cumulative_vaccine_doses_administered'] = median_vaccine_doses

   
    # Calcular columna de vacunas administradas por d√≠a
    df['vaccine_doses_administered_for_day'] = df['cumulative_vaccine_doses_administered'].diff().fillna(0)
    
    # Reorganizar las columnas
    df = df.drop(columns='cumulative_vaccine_doses_administered')
    df.insert(6, 'vaccine_doses_administered_for_day', df.pop('vaccine_doses_administered_for_day'))
    
    # Crear la columna del acumulado de vacunas diarias
    df['cumulative_vaccine_doses_administered'] = df['vaccine_doses_administered_for_day'].cumsum()
    df.insert(7, 'cumulative_vaccine_doses_administered', df.pop('cumulative_vaccine_doses_administered'))
    
    # Calcular el rango intercuart√≠lico (IQR)
    Q1 = df['vaccine_doses_administered_for_day'].quantile(0.25)
    Q3 = df['vaccine_doses_administered_for_day'].quantile(0.75)
    IQR = Q3 - Q1
    
    # Definir los l√≠mites para considerar outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Filtrar el DataFrame para mantener solo los valores dentro de los l√≠mites
    df_filtered = df[(df['vaccine_doses_administered_for_day'] >= lower_bound) & (df['vaccine_doses_administered_for_day'] <= upper_bound)]
    
    # Calcular el promedio entre los l√≠mites
    avg_vaccine = df_filtered['vaccine_doses_administered_for_day'].mean()
    
    # Reemplazar los valores por encima del valor m√°ximo con el promedio
    df['vaccine_doses_administered_for_day'] = df['vaccine_doses_administered_for_day'].apply(
        lambda x: avg_vaccine if x > upper_bound else x
    )
    
    df = df.sort_values(by=['location_key', 'date'])


    # Crear un n√∫mero secuencial para cada location_key
    location_keys = df['location_key'].unique()
    location_key_map = {key: f"{key}_001" for key in location_keys}
    df['country_id'] = df['location_key'].map(location_key_map)
    
    # Crear nuevas columnas con los valores acumulados
    df['cumulative_confirmed'] = df.groupby('country_code')['new_confirmed'].cumsum()
    df['cumulative_deceased'] = df.groupby('country_code')['new_deceased'].cumsum()
    
    # Crear nuevas columnas con las operaciones especificadas
    df['covid_mortality_rate'] = df['new_deceased'] / df['new_confirmed']
    df['new_cases_per_100k'] = (df['new_confirmed'] / df['population']) * 100000
    df['new_deaths_per_100k'] = (df['new_deceased'] / df['population']) * 100000
    df['cumulative_cases_per_100k'] = (df['cumulative_confirmed'] / df['population']) * 100000
    df['cumulative_deaths_per_100k'] = (df['cumulative_deceased'] / df['population']) * 100000

    return df

In [40]:

# Aplicar la funci√≥n a distintos DataFrames
df_peru = process_dataframe(df_peru, columns=columns_to_drop)

In [20]:
df_colombia = process_dataframe(df_colombia, columns=columns_to_drop)
df_colombia.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,vaccine_doses_administered_for_day,cumulative_vaccine_doses_administered,population,population_male,...,nurses_per_1000,physicians_per_1000,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate
65,CO,2020-03-06,CO,Colombia,1.0,0.0,0.0,0.0,50882884,24984564,...,1.3309,2.1848,10779376,1090598,36132,77.109,151.616,77.999,37,15.8
66,CO,2020-03-07,CO,Colombia,0.0,1.0,0.0,0.0,50882884,24984564,...,1.3309,2.1848,10779376,1090598,36132,77.109,151.616,77.999,37,15.8
67,CO,2020-03-08,CO,Colombia,0.0,0.0,0.0,0.0,50882884,24984564,...,1.3309,2.1848,10779376,1090598,36132,77.109,151.616,77.999,37,15.8
68,CO,2020-03-09,CO,Colombia,2.0,0.0,0.0,0.0,50882884,24984564,...,1.3309,2.1848,10779376,1090598,36132,77.109,151.616,77.999,37,15.8
69,CO,2020-03-10,CO,Colombia,0.0,1.0,0.0,0.0,50882884,24984564,...,1.3309,2.1848,10779376,1090598,36132,77.109,151.616,77.999,37,15.8

In [41]:
df_peru.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,vaccine_doses_administered_for_day,cumulative_vaccine_doses_administered,population,population_male,...,pollution_mortality_rate,comorbidity_mortality_rate,country_id,cumulative_confirmed,cumulative_deceased,covid_mortality_rate,new_cases_per_100k,new_deaths_per_100k,cumulative_cases_per_100k,cumulative_deaths_per_100k
853,PE,2020-03-05,PE,Peru,9.0,0.0,0.0,0.0,29381884,14450757,...,63.9,12.6,PE_001,9.0,0.0,0.0,0.030631,0.000000,0.030631,0.000000
854,PE,2020-03-06,PE,Peru,1.0,0.0,0.0,0.0,29381884,14450757,...,63.9,12.6,PE_001,10.0,0.0,0.0,0.003403,0.000000,0.034035,0.000000
855,PE,2020-03-07,PE,Peru,5.0,1.0,0.0,0.0,29381884,14450757,...,63.9,12.6,PE_001,15.0,1.0,0.2,0.017017,0.003403,0.051052,0.003403
856,PE,2020-03-08,PE,Peru,2.0,0.0,0.0,0.0,29381884,14450757,...,63.9,12.6,PE_001,17.0,1.0,0.0,0.006807,0.000000,0.057859,0.003403
857,PE,2020-03-09,PE,Peru,3.0,0.0,0.0,0.0,29381884,14450757,...,63.9,12.6,PE_001,20.0,1.0,0.0,0.010210,0.000000,0.068069,0.003403

In [ ]:
from sqlalchemy import create_engine

def create_tables(engine):
    with engine.connect() as conn:
        conn.execute("""
        -- Crear tabla de dimensi√≥n para pa√≠ses
        CREATE TABLE IF NOT EXISTS dim_country (
            country_id SERIAL PRIMARY KEY,
            country_code VARCHAR(10) NOT NULL,
            country_name VARCHAR(255) NOT NULL,
            location_key VARCHAR(255),
            latitude DECIMAL,
            longitude DECIMAL,
            area_sq_km DECIMAL,
            area_urban_sq_km DECIMAL,
            area_rural_sq_km DECIMAL
        );

        -- Crear tabla de dimensi√≥n para fechas
        CREATE TABLE IF NOT EXISTS dim_date (
            date_id SERIAL PRIMARY KEY,
            date DATE NOT NULL,
            year INT,
            month INT,
            day INT,
            quarter INT,
            day_of_week INT,
            day_of_year INT,
            week_of_year INT
        );

        -- Crear tabla de dimensi√≥n para la poblaci√≥n
        CREATE TABLE IF NOT EXISTS dim_population (
            population_id SERIAL PRIMARY KEY,
            country_id INT REFERENCES dim_country(country_id),
            population INT,
            population_male INT,
            population_female INT,
            population_largest_city INT,
            population_age_00_09 INT,
            population_age_10_19 INT,
            population_age_20_29 INT,
            population_age_30_39 INT,
            population_age_40_49 INT,
            population_age_50_59 INT,
            population_age_60_69 INT,
            population_age_70_79 INT,
            population_age_80_and_older INT,
            population_density DECIMAL
        );

        -- Crear tabla de dimensi√≥n para datos socioecon√≥micos
        CREATE TABLE IF NOT EXISTS dim_socioeconomic (
            socioeconomic_id SERIAL PRIMARY KEY,
            country_id INT REFERENCES dim_country(country_id),
            gdp_per_capita_usd DECIMAL,
            human_development_index DECIMAL,
            gdp_usd DECIMAL,
            smoking_prevalence DECIMAL,
            diabetes_prevalence DECIMAL,
            infant_mortality_rate DECIMAL,
            nurses_per_1000 DECIMAL,
            physicians_per_1000 DECIMAL,
            life_expectancy DECIMAL,
            adult_male_mortality_rate DECIMAL,
            adult_female_mortality_rate DECIMAL,
            pollution_mortality_rate DECIMAL,
            comorbidity_mortality_rate DECIMAL
        );

        -- Crear tabla de hechos para COVID
        CREATE TABLE IF NOT EXISTS fact_covid (
            fact_id SERIAL PRIMARY KEY,
            country_id INT REFERENCES dim_country(country_id),
            date_id INT REFERENCES dim_date(date_id),
            new_confirmed INT,
            new_deceased INT,
            new_recovered INT,
            cumulative_confirmed INT,
            cumulative_deceased INT,
            cumulative_recovered INT,
            cumulative_vaccine_doses_administered INT,
            covid_mortality_rate DECIMAL,
            new_cases_per_100k DECIMAL,
            new_deaths_per_100k DECIMAL,
            cumulative_cases_per_100k DECIMAL,
            cumulative_deaths_per_100k DECIMAL,
            average_temperature_celsius DECIMAL
        );
        """)

# Crear la conexi√≥n a la base de datos
engine = create_engine('postgresql://myuser:356241789@localhost:5432/covid19')
create_tables(engine)